In [1]:
import sqlite3
con = sqlite3.connect("tutorial.db")

In [2]:
con

In [3]:
cur=con.cursor()

In [4]:
cur

In [5]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [8]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [7]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [9]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [10]:
con.commit()

In [11]:
res = cur.execute("SELECT score FROM movie")
res.fetchall()

[(8.2,), (7.5,)]

In [12]:
res

In [14]:
res??

Type:        Cursor
String form: <sqlite3.Cursor object at 0x000002181414FC00>
File:        d:\condapythonenvs\tf2.10\lib\sqlite3\__init__.py
Docstring:   SQLite database cursor class.

In [32]:
from output.out import get_attrs,get_methods
# get_attrs(res)

In [35]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [36]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1900, 'Monty Python and the Holy Grail')
(1971, 'And Now for Something Completely Different')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

In [37]:
con.close()

The highest scoring Monty Python movie is 'Monty Python and the Holy Grail', released in 1900

In [ ]:
new_con = sqlite3.connect("tutorial.db")
new_cur = new_con.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res.fetchone()

print(f'The highest scoring Monty Python movie is {title!r}, released in {year}')

In [38]:
con = sqlite3.connect(":memory:")
cur = con.execute("CREATE TABLE lang(name, first_appeared)")

# This is the named style used with executemany():
data = (
    {"name": "C", "year": 1972},
    {"name": "Fortran", "year": 1957},
    {"name": "Python", "year": 1991},
    {"name": "Go", "year": 2009},
)
cur.executemany("INSERT INTO lang VALUES(:name, :year)", data)

# This is the qmark style used in a SELECT query:
params = (1972,)
cur.execute("SELECT * FROM lang WHERE first_appeared = ?", params)
print(cur.fetchall())

[('C', 1972)]

In [43]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.execute("Create Table contacts(name,age,email)")

# 使用 named style 插入数据
data = {'name': 'John', 'age': 30, 'email': 'joshn@example.com'}
cursor.execute("INSERT INTO contacts VALUES (:name, :age, :email)", data)

# 提交更改
conn.commit()

# 关闭连接
conn.close()